/* 
To do: 
-make nav links work
-do @media thing
--re-position some divs
style some divs
-add picture of self
-write readme


*/

* {
    font-size:16px;
    line-height: 1.5;
    color:seagreen;
    font-family: 'Exo 2', sans-serif;
}

html {
    background-color:rgb(197, 226, 242)
}

h1 {
    font-size:200%;
}
h2 {
    font-size:150%;
}

header {
    display:block;
}

nav {
    display:flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    padding:5px;
}

ul {
    display:flex;
    list-style: none;  
}

li {
    padding:5px;
}

section, footer {
    display:flex;
    flex-direction:row;
    padding: 15px;
    position: relative;
}

img {
    max-width: 95%;
    height: auto;
    width: auto;
    border: 2px solid purple;
}

p {
    text-indent: 2em;
}

.sectionName {
    width: 20%;
    font-family: 'Exo 2', sans-serif;
    display:flex;
    justify-content:flex-end;
    padding: 5px;
    border-right: 3px solid seagreen;
    margin-right: 5px;
}
.sectionContent {
    display:flex;
    flex-wrap:wrap;
    width: 80%;
}

.titleOfproject {
    font-size:125%;
    border:1px solid gray;
    background-color: lightgray;
    padding:5px;
    max-width:50%;
    position: absolute;
    margin: 20px;
   
}

.listContent {
    display:flex;
    justify-content: space-between;
}
#project1 {
    width: 100%;
    padding:5px;
    
}

.additionalProjects {
    width:45%;
    padding:5px;
    
}