/* 
To do: 
-make nav links work
-do @media thing
--re-position some divs
style some divs
-add picture of self
-write readme


*/

* {
    font-size:16px;
    line-height: 1.5;
    color:seagreen;
    font-family: 'Exo 2', sans-serif;
}

header {
    display:block;
}

nav {
    display:flex;
    justify-content:flex-end;
    flex-wrap: wrap;
}
ul {
    display:flex;
}

section, footer {
    display:flex;
    flex-direction:row;
}

.sectionName {
    width: 20%;
    font-family: 'Exo 2', sans-serif;
}
.sectionContent {
    display:flex;
    flex-wrap:wrap;
    width: 80%;
}

.listContent {
    display:flex;
}
#project1 {
    width: 100%;
    padding:5px;

}

.additionalProjects {
    width:45%;
    padding:5px;
}