/* 
To do: 
-do @media thing
--re-position some divs
style some divs
-write readme


*/

* {
    font-size:16px;
    line-height: 1.5;
    color:seagreen;
    font-family: 'Exo 2', sans-serif;
}

html {
    background-color:rgb(197, 226, 242)
}

h1 {
    font-size:200%;
}
h2 {
    font-size:150%;
}

header {
    display:block;
}

nav {
    display:flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    padding:5px;
}

ul {
    display:flex;
    list-style: none;  
}

li {
    padding:5px;
}

section, footer {
    display:flex;
    flex-direction:row;
    padding: 15px;
    position: relative;
}


p {
    text-indent: 2em;
}

.section-name {
    width: 20%;
    font-family: 'Exo 2', sans-serif;
    display:flex;
    justify-content:flex-end;
    padding: 5px;
    border-right: 3px solid seagreen;
    margin-right: 5px;
}
.section-content {
    display:flex;
    flex-wrap:wrap;
    width: 80%;
    align-items: center;
}
#about-text {
    width:70%;
}

#about-img {
    width:30%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.title-of-project {
    font-size:125%;
    border:2px solid gray;
    background-color: lightgray;
    padding:5px;
    max-width:50%;
    position: absolute;
    margin: 20px;
   
}

.list-content {
    display:flex;
    justify-content: space-between;
}
#project1 {
    width: 100%;
    padding:5px;
    
}

.additional-projects {
    width:45%;
    padding:5px;
    
}

#project1 img, .additional-projects img {
    max-width: 95%;
    height: auto;
    width: auto;
    border: 3px solid purple;
}

